In [26]:
print("이재형")

이재형

In [55]:
# 중간이름 축약 문제
name = str(input("입력"))
name_list = name.split(' ')
output = ""
print(len(name_list))
for i in range(len(name_list)):
    if i == 0 or i == len(name_list)-1:
        output += f"{name_list[i]} "
    else:
        output += f"{name_list[i][0]}. "
print(output)

입력Lee ji hee hi
4
Lee j. h. hi

In [29]:
# 달력 문제

print("{0:^20}".format("1월"))
print("Mo Tu We Th Fr Sa Su")
for i in range(1,32):
    if i % 7 == 0:
        print(i)
    elif i < 10:
        print(i, end = "  ")
    else:
        print(i, end = " ")

         1월
Mo Tu We Th Fr Sa Su
1  2  3  4  5  6  7
8  9  10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [56]:
for i in range(1,13):
    print(f'{f"{i}월":^20}')
    print("Mo Tu We Th Fr Sa Su")
    if i == 4 or i == 6 or i == 9 or i == 11:
        for j in range(1,31):
            if j % 7 == 0:
                print(j)
            elif j < 10:
                print(j, end = "  ")
            else:
                print(j, end = " ")
    elif i == 2:
        for j in range(1,29):
            if j % 7 == 0:
                print(j)
            elif j < 10:
                print(j, end = "  ")
            else:
                print(j, end = " ")
    else:
        for j in range(1,32):
            if j % 7 == 0:
                print(j)
            elif j < 10:
                print(j, end = "  ")
            else:
                print(j, end = " ")
        
    print("\n")

         1월
Mo Tu We Th Fr Sa Su
1  2  3  4  5  6  7
8  9  10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

         2월
Mo Tu We Th Fr Sa Su
1  2  3  4  5  6  7
8  9  10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28


         3월
Mo Tu We Th Fr Sa Su
1  2  3  4  5  6  7
8  9  10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

         4월
Mo Tu We Th Fr Sa Su
1  2  3  4  5  6  7
8  9  10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

         5월
Mo Tu We Th Fr Sa Su
1  2  3  4  5  6  7
8  9  10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

         6월
Mo Tu We Th Fr Sa Su
1  2  3  4  5  6  7
8  9  10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

         7월
Mo Tu We Th Fr Sa Su
1  2  3  4  5  6  7
8  9  10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

         8월
Mo Tu We Th Fr Sa Su
1  2  3  4  5  6  7
8  9  10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

         9월
Mo Tu We Th Fr Sa Su
1  2  3  4  5  6  7
8  9  10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

        10월
Mo Tu We Th Fr Sa Su
1  2  3  4  5  6  7
8  9  10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

        11월
Mo Tu We Th Fr Sa Su
1  2  3  4  5  6  7
8  9  10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

        12월
Mo Tu We Th Fr Sa Su
1  2  3  4  5  6  7
8  9  10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [65]:
persona = input("개굴씨 입력하세요")
gaegul = ""
p_list = persona.split(' ')
print(p_list)
for i in p_list:
    gaegul += "개굴" * len(i)+ " "
    
print(gaegul)

개굴씨 입력하세요안녕하 개굴 씨
['안녕하', '개굴', '씨']
개굴개굴개굴 개굴개굴 개굴

In [74]:
def crossBridge(steps):
    cnt = 0
    current = 0
    n = len(steps)
    while (current <=5):
        current += steps[current]
        cnt += 1
    return cnt

In [75]:
crossBridge([1,1,2,3,5])

4

In [76]:
def isPrince(frog):
    for i in frog:
        if i[0] == "f":
            return i

In [77]:
isPrince(['frog','jihee'])

'frog'

In [106]:
num = int(input("별아 어디 있니?"))
one = "*" + " " * num
three = f"{one}"* 3
print(three)
num1 = int((num +3)/2 - 1)
second =" "* num1 + "*" + " " * num + "*"

print(second)

별아 어디 있니?3
*   *   *
  *   *

In [ ]:
length = len(three) - num
second = f'{"*" + " " * num + "*":^f"{length}"}'
print(three)
print(second)

In [123]:
def minnum(num1,num2):
    
    a = num1
    b = num2
    if a < b:
        (a, b) = (b, a)
    while (b != 0):
            (a, b) = (b, a % b)
    return a * num1 * num2

In [124]:
minnum(1,2)

2

In [128]:
a = int(input())
print(a[0]*a[1])

3 5

ValueError: invalid literal for int() with base 10: '3 5'